{% extends "layout.html" %}
{% block body %}

<body style="background-color: #fafcde;">

<h1 style="text-align: center">This will become the bot command list.<br>currently this is not completed and has no useful information</h1>

<h1>Simple Commands:</h1>
<pre style="border-left-color: black; background-color: #D2FDD8">
<div class="cn">Command one</div><div class="cd"> -  It does what command 1 does</div>
<div class="cn">Second command</div><div class="cd"> -  Does something else</div></pre>
<h1>Complex Commands:</h1>
<pre style="border-left-color: darkgreen; background-color: #D2FDD8">  Second test border<br>  This one is a different color.</pre>

<h1>Graphing Commands:</h1>
<pre style="border-left-color: darkblue; background-color: #D2FDD8">  Third test border<br>  This one is a different color.</pre>

<h1>Other Commands:</h1>
<pre style="border-left-color: darkred; background-color: #D2FDD8">  Last test border<br>  This one is a different color... again.</pre>

</body>
<br>
<br>
<hr>
<hr>
<br>
<br>
<br>
<br>
<br>

{% endblock %}